exportPattern("^[[:alpha:]]+")
#export(LErNet.map_ensembl_stringdb)
import(GenomicRanges)
import(GenomicFeatures)
import(STRINGdb)
import(igraph)
import(biomaRt)
import(visNetwork)
import(ReactomePA)
import("utils")
import("grDevices")
